- content_for :title do
  Islam4Kids
  \/
  Edit roles for
  = @user.username

.card.shadow
  .card-header
    %h3
      Editing user
      = @user.email
    - if policy(@user).user_is_admin?
      .card-body
        Please choose the appropriate roles?
        = simple_form_for @user do |f|

          = f.collection_check_boxes :role_ids, Role.all, :id, :name
          = f.error :roles, class: 'text-danger'
          %hr
          = f.button :submit, class: "btn btn-success"
          = link_to 'Cancel', root_path, class: 'btn btn-danger'
    - else
      .card-body
        Please select the roles you would like active on your account.
        = simple_form_for @user, action: 'update' do |f|

          = f.collection_check_boxes :role_ids, { 'Teacher ': 2, 'Student': 3 }, :last, :first
          = f.error :roles, class: 'text-danger'
          %hr
          = f.button :submit, class: "btn btn-success"
          = link_to 'Cancel', root_path, class: 'btn btn-danger'
