%center
  %div{:style => "width:1200px; height:800px; padding:20px; text-align:center; border: 10px solid #563d7c"}
    %div{:style => "width:1150px; height:750px; padding:20px; text-align:center; border: 5px solid #563d7c"}
      %br
      %br
      %span{:style => "font-size:50px; font-weight:bold"} Certificate of Completion

      /%center
      /  %h1
      /    Certificate of Completion

      %br
      %br
      %br
      %p
      %h3
        This is to certify that
      -  if @enrollment.user.display_name?
        %h2
          = @enrollment.user.display_name
      -  else
        %h2
          = @enrollment.user.email
      %h3
        has successfully completed the course
      %h2
        = @enrollment.course.title
      %h3
        on the Islam4kids Academy platform

        %br
        %br
        %center
        %h3
        = image_tag wicked_pdf_asset_base64('logo_color.png'), height: "140", width: "auto"
        %p
        www.islam4kids.academy
        %br
        www.islam4kids.org


      %br
      %br
      %br

      %p
      %b Registration date:
      #{@enrollment.created_at.strftime('%d-%b-%Y')}

      %p
      %b Certificate id:
      #{@enrollment.slug}

      %p
      %b Certificate url:
      #{request.base_url}#{request.original_fullpath}
