- content_for :title do
  Islam4Kids
  |
  Rate
  = @enrollment.course

= link_to 'Courses', courses_path
|
= link_to course_path(@enrollment.course) do
  .fa.fa-book-open
  = @enrollment.course.title
|
= link_to 'Add Rating', edit_enrollment_path(@enrollment)

.card.shadow
  .card-header
    %h3
      .text-warning.fa.fa-star
      Rating 
      = @enrollment.course.title
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show Rating', @enrollment
    \|
    = link_to 'Back to Course', course_path(@enrollment.course)
