- content_for :title do
  Islam4Kids
  |
  New enrollment

.card.shadow
  .card-header
    %h3
      .fa.fa-book-open
      = link_to @course.title, course_path(@course)
  .card-body
    .far.fa-bookmark
    = pluralize(@course.chapters_count, 'Chapter')
    .row
    .fa.fa-tasks
    = pluralize(@course.lessons_count, 'Lesson')
    .row
    .far.fa-clock
    Created
    = @course.created_at.strftime("%m/%Y")
    .row
    .far.fa-clock
    Last updated
    = @course.updated_at.strftime("%m/%Y")
    .row
    .fa.fa-globe-africa
    = @course.language
    .row
    .fa.fa-signal
    = @course.level
    .row
  .card-footer
    - if @course.price > 0
      = form_tag course_enrollments_path(@course) do
        %script.stripe-button{"data-amount" => "#{(@course.price * 100).to_i}",
                              "data-description" => "#{@course.title} (#{number_to_currency @course.price})",
                              "data-email" => "#{current_user.email}",
                              "data-key" => "#{Rails.application.credentials[Rails.env.to_sym][:stripe][:publishable]}",
                              "data-locale" => "auto",
                              :src => "https://checkout.stripe.com/checkout.js"}
    - else
      = form_tag course_enrollments_path(@course) do
        = submit_tag "Enroll for free!", class: 'btn btn-lg btn-success'

  .card-footer
    = link_to 'Back', course_path(@course)
