-# frozen_string_literal: true
= simple_form_for([@course, @chapter, @lesson]) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title, input_html: { autocomplete: 'off' }
    = f.input :chapter_id, collection: @course.chapters, selected: params[:chapter_id], value_method: :slug, include_blank: false
    = f.text_area :content, :id => "full-featured-non-premium"
    %p
    = f.input :course_id, input_html: {value: @lesson.course_id || params[:course_id]}, as: :hidden
  .form-actions
    = f.button :submit
