- content_for :title do
  = @course.title
  |
  New Lesson


.fa.fa-book-open
= link_to course_path(@course) do
  = @course.title
|
.far.fa-check-square
Create a New lesson

.card.shadow
  .card-header
    %h3
      .far.fa-check-square
      New lesson
  .card-body
    = render 'formnew'
  .card-footer
    = link_to 'Back to course', course_path(@course)
