- content_for :title do
  = @course.title

  Lesson
  #{@lesson.row_order_rank + 1}.
  = @lesson.title

.row
  .col-lg-8

    .card.shadow
      .card-header
        .text-success.fa.fa-check-square
        = link_to course_lesson_path(@course, @lesson) do
          %b
            Chapter #{@lesson.chapter.row_order_rank + 1}.
            Lesson #{@lesson.row_order_rank + 1}:
            = @lesson.title
      .card-body
        - if @lesson.video.attached?
          /%video(controls="true" poster="#{url_for @lesson.video}" width="100%" preload="metadata" controlslist="nodownload")
          %video(controls="true" width="100%" preload="metadata" controlslist="nodownload")
            %source{src: rails_blob_url(@lesson.video), type:"#{@lesson.video.content_type}"}
        = @lesson.content


      - if policy(@lesson).edit?
        .card-footer
          = link_to edit_course_lesson_path(@course, @lesson), class: 'btn btn-sm btn-warning mr-1' do
            .fa.fa-edit
          = link_to [@course, @lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' do
            .fa.fa-trash
      - unless @lesson.prev.nil? && @lesson.next.nil?
        .card-footer
          - unless @lesson.prev.nil?
            .float-left
              = link_to course_lesson_path(@course, @lesson.prev), class: 'btn btn-sm btn-info' do
                .fa.fa-arrow-left
                Previous Lesson
          - unless @lesson.next.nil?
            .float-right
              = link_to course_lesson_path(@course, @lesson.next), class: 'btn btn-sm btn-info' do
                .fa.fa-arrow-right
                Next Lesson
      .card-footer
        = link_to course_path(@course), class: 'btn btn-sm btn-secondary' do
          .fa.fa-book-open
          Back to Course -
          = @course.title

    %p

    - if current_user
      - if policy(@course).student_or_admin?
        .card.shadow
          .card-header
            %p
            .fa.fa-comment
            Do you have a comment, suggestion or feedback for the teacher?
          .card-body
            .card.body
              = render 'lessons/comments/form'
          %p
      - if current_user.has_role?(:teacher || :admin)
        .card.shadow
          .card-header
            %h4
            .fa.fa-comment
            Comments:
            = @lesson.comments_count
          .card-body
            - @comments.each do |comment|
              = render 'lessons/comments/comment', comment: comment
              %p


  .col-lg-4
    .list-group.shadow
      .list-group-item
        .fa.fa-book-open
        = link_to course_path(@lesson.course) do
          = @lesson.course.title
        .row
        = render 'courses/progress', course: @lesson.course
    -# %br
    -# .list-group-item
    -#   %h5 Current Chapter
    -# #accordion
    -#   .list-group#scrollable
    -#     .panel.panel-default
    -#       .list-group-item.shadow
    -#         %a.collapsed{"aria-controls" => "collapseChapter", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseChapter", :role => "button"}
    -#           = render 'chapters/chapter_lesson', chapter: @lesson.chapter
    -#           .panel-collapse.collapse.show{:id => "collapseChapter"}
    -#             - @lessons.each do |lesson|
    -#               .panel-body
    -#                 - if lesson.eql?(@lesson)
    -#                   %li.list-group-item.list-group-item-success
    -#                     = render 'lessons/lesson_student', lesson: lesson
    -#                 - else
    -#                   %li.list-group-item.list-group-item-secondary
    -#                     = render 'lessons/lesson_student', lesson: lesson
    -# %br
    -# .list-group-item
    -#   %h5 All Chapters
    -# #accordion
    -#   .list-group#scrollable
    -#     - @chapters.each do |chapter|
    -#       .panel.panel-default
    -#         .list-group-item.shadow
    -#           %a.collapsed{"aria-controls" => "collapse#{chapter.id}", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{chapter.id}", :role => "button"}
    -#             = render 'chapters/chapter_lesson', chapter: chapter
    -#             .panel-collapse.collapse{:id => "collapse#{chapter.id}"}
    -#               - chapter.lessons.rank(:row_order).each do |lesson|
    -#                 .panel-body
    -#                   - if lesson.eql?(@lesson)
    -#                     %li.list-group-item.list-group-item-success
    -#                       = render 'lessons/lesson_student', lesson: lesson
    -#                   - else
    -#                     %li.list-group-item.list-group-item-secondary
    -#                       = render 'lessons/lesson_student', lesson: lesson
    -#           - if @lesson.chapter_id == chapter.id
    -#             .panel-collapse.collapse.show{:id => "collapse#{chapter.id}"}


    #accordion
    .list-group#scrollable
      - @chapters.each do |chapter|
        .panel.panel-default
          .list-group-item.shadow
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{chapter.id}"}
              = render 'chapters/chapter_preview', chapter: chapter
        - if @lesson.chapter == chapter
          .panel-collapse.collapse.show{:id => "collapse#{chapter.id}"}
            - chapter.lessons.rank(:row_order).each do |lesson|
              .panel-body
                - if lesson.eql?(@lesson)
                  %li.list-group-item.list-group-item-success
                    = render 'lessons/lesson_student', lesson: lesson
                - else
                  %li.list-group-item.list-group-item-secondary
                    = render 'lessons/lesson_student', lesson: lesson
        - else
          .panel-collapse.collapse.in{:id => "collapse#{chapter.id}"}
            - chapter.lessons.rank(:row_order).each do |lesson|
              .panel-body
                - if lesson.eql?(@lesson)
                  %li.list-group-item.list-group-item-success
                    = render 'lessons/lesson_student', lesson: lesson
                - else
                  %li.list-group-item.list-group-item-secondary
                    = render 'lessons/lesson_student', lesson: lesson
