!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "free course, teach online, islam kids, muslim children", :name => "keywords"}/
    %meta{:content => "Free online learning platform for Muslim children", :name => "description"}/
    %meta{:content => "Alisha Taylor", :name => "author"}/
    = favicon_link_tag 'logo.png'
    %title
      = content_for?(:title) ? yield(:title) : "Islam4Kids"
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:referrerpolicy => "origin", :src => "https://cdn.tiny.cloud/1/eak2vfrdv3ni1ggwjmp29f9ybsrm84p77570gsvchc15rfif/tinymce/5/tinymce.min.js"}

    - if Rails.env.production?
      = render 'layouts/google_analytics'
  %body
    = render 'layouts/header'
    = render 'layouts/messages'
    .container
      %p
      = yield
  %p
  = render 'layouts/footer'
